html {
    box-sizing: border-box;
   }
body{
    font-family: sans-serif;
   }
   
.nav{
    border: 0.5em solid;
    border-color: black;
    background: #000;
}
.nav li{
    color: white;

}
.nav ul {
    list-style: none;
    justify-content: space-between;
    display: flex;
}


   .mainpart{
    background-image: url(https://cdn.pixabay.com/photo/2013/11/12/01/29/bar-209148_960_720.jpg);
    height: 80vh;
   }
   .mainpart p{
    display: flex;
    top: 50%;
    left:40%;
    text-align: center;
    color: white;
    font-size: x-large;
   }
   .mapclass{
    width: -webkit-fill-available;
   }
   .innergallerygrid img{
    width:  17em;
    height: 10em;
    object-fit: contain;
   }
   .secondgallerygrid img{
    width: 50em;
   }
   .gallerygrid{
    display: grid;
   }
   .galleryphotos{
    width: 10%;
   }
.beertypesgrid1, .beertypesgrid2, .beertypesgrid3{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
   .beertypesgrid1img, .teamgrid1img{
    width: 50%;
   }
   .teamgrid1, .teamgrid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   }
   .teamgrid1 img {
    width:  22em;
    height: 25em;
    object-fit: contain;
}
.teamgrid2 img {
    width:  22em;
    height: 25em;
    object-fit: contain;
}
h3{
    text-align: center;
}
.whitepart{
    background-color: rgb(247, 247, 241);
}
.footerclass{
    border: 0.5em solid;
    background-color: black;
}
.footerclass p{
    color: white;
    text-align: center;
    font-family: sans-serif;
}
#mybtn{
    position: fixed;
    border: none;
    outline: none;
    font-size: 3em;
}